.home-page {
  padding-bottom: 100px;
  h2 {
    text-align: center;
    margin: 4rem 0 1rem 0;
  }
  .book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 1rem;
  }

  .search-nav {
    display: grid;
    position: fixed;
    right: 18px;
    bottom: 15px;
    padding: 1.25rem;
    border-radius: 50%;
    background-color: #00adb5;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
}
